.notification {
	color: black;
	background-color: lightgray;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.blog {
	color: black;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

table,
td {
	border: 1px solid #333;
}

thead,
tfoot {
	background-color: #333;
	color: #fff;
}